@import url('./scss/_reset.scss');
@import url('./fonts/museo-sans-cyrl/stylesheet.css');

body {
  margin: 0;
  font-family: 'Museo Sans Cyrl', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-neutral-200);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --clr-accent-100: #7370DA;

  --clr-primary-100: #090826;
  --clr-primary-200: #4D4D59;

  --clr-neutral-100: #FFFFFF;
  --clr-neutral-200: #F3F3FF;
  --clr-neutral-300: #69687C;

  font-size: 62.5%;
}

.container {
  max-width: 89.4rem;
  margin: 0 auto;
  @media (max-width: 900px) {
    padding: 0 15px;
  }
}

.d-flex {
  display: flex;
} 

.d-flex.jc-space-between {
  justify-content: space-between;
}

.d-flex.ai-center {
  align-items: center;
}